docs/build/**
docs/source/_static/theme_overrides.css
docs/source/latex/04Basics/examp/ragged/document.aux
docs/source/latex/04Basics/examp/ragged/document.log
docs/source/latex/04Basics/examp/ragged/document.synctex.gz
docs/source/latex/04Basics/examp/ragged/document.pdf
docs/source/latex/TeXRefCard.v1.5.pdf
docs/source/latex/04Basics/examp/ragged/document.tex
docs/source/latex/04Basics/examp/spaces/example.aux
docs/source/latex/04Basics/examp/spaces/example.log
docs/source/latex/04Basics/examp/spaces/example.pdf
docs/source/latex/04Basics/examp/spaces/example.tex
docs/source/latex/sample.tex
docs/source/latex/novices-report.pdf
docs/source/latex/latex2e.pdf
docs/source/latex/ltxcrib.pdf
docs/source/latex/latex.svg
docs/source/latex/help.rst
docs/texput.log
docs/source/latex/examples/generic_examples/test_1.synctex.gz
docs/source/latex/examples/generic_examples/test_1.pdf
docs/source/latex/examples/generic_examples/test_1.xdv
docs/source/latex/examples/commands/1_comm.pdf
docs/source/latex/examples/commands/2_comm.pdf
docs/source/latex/examples/commands/3_comm.pdf
docs/source/latex/examples/commands/comm.aux
docs/source/latex/examples/commands/comm.log
docs/source/latex/examples/commands/comm.pdf
docs/source/latex/examples/commands/comm.synctex.gz
docs/source/latex/examples/commands/comm.xdv
docs/source/latex/examples/commands/document.aux
docs/source/latex/examples/commands/document.log
docs/source/latex/examples/commands/document.pdf
docs/source/latex/examples/commands/document.synctex.gz
docs/source/latex/examples/commands/document.tex
docs/source/latex/examples/exm1/exm_1.aux
docs/source/latex/TeXbyTopic.pdf
docs/source/latex/essential.pdf
docs/missfont.log
docs/testfont.log
